@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  background-image: url("/images/chris-leipelt-138817.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #333;
  padding: 40px 20px 40px 20px;
  font-family: "Indie Flower";
}

h1 {
  font-weight: bold;
  font-size: 60px;
  background: rgba(255,255,255,.5)
}

h4 {
  font-weight: bold;
}

p {
  font-weight: 600;
}
li {
  font-size: 20px;
}

.navbar {
  width: 100%;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 30px;
  background-color: SteelBlue;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin: 0px 75px;
}

.well {
  color: black;
  background-color: #DDDDDD;
        }
