<h1> Stations! </h1>

<% @stations.each do |station| %>
  <h2> <%= station.name %> </h2>

  <form action="/stations/<%=station.id %>" method="POST" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Station">
  </form>

  <a  href="/stations/<%=station.id%>/edit">
    <button> Edit </button>
  </a>

   <a  href="/stations/<%=station.id%>">
    <button> Show </button>
  </a>
<% end %>
