<form action='/stations' method = "post">
  name: <input type= "text" name ="station[name]">
  dock count: <input type= "text" name ="station[dock_count]">
  city: <input type= "text" name ="station[city]">
  installation date: <input type= "text" name ="station[installation_date]">

  <input type="submit" value ="Add Station">
</form>
