<head>
  <title>Trip Dashboard</title>
  <link rel="stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="trip/dashboard.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container-fluid bg-1 text-center">
  <h1> Trip Dashboard</h1>
</div>
  <div class="row">
    <div class="col-sm-3">
      <div class="well">
        <h4>Average Ride</h4>
          <p>change me</p>

      </div>
    </div>
    <div class="col-sm-3" >
      <div class="well">
        <h4>Longest Ride</h4>
        <p>hello</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="well">
        <h4>Shortest Ride</h4>
        <p>change me</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="well">
        <h4>Most Popular Start Station</h4>
          <p>change me</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1">
      <div class="well">
        <h4>January</h4>
          <p>change me</p>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="well">
        <h4>February</h4>
          <p>change me</p>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="well">
        <h4>March</h4>
          <p>change me</p>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="well">
        <h4>April</h4>
          <p>change me</p>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="well">
        <h4>May</h4>
          <p>change me</p>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="well">
        <h4>June</h4>
          <p>change me</p>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="well">
        <h4>July</h4>
        <p>change me</p>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="well">
        <h4>August</h4>
          <p>change me</p>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="well">
        <h4>September</h4>
          <p>change me</p>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="well">
        <h4>October</h4>
          <p>change me</p>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="well">
        <h4>November</h4>
          <p>change me</p>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="well">
        <h4>December</h4>
          <p>change me</p>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="well">
          <h4>Most Popular Bike</h4>
            <p>change me</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="well">
          <h4>Least Popular Ride</h4>
            <p>change me</p>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h4>User Subscription Details</h4>
              <p>change me</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>Most Popular Date</h4>
              <p>change me</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>Least Popular Date</h4>
              <p>change me</p>
          </div>
        </div>
    </div>
</body>
