<head>
  <link rel="stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/station/new.css">
</head>

<div class="transbox">
  <form class="form-horizontal">
    <fieldset>
      <legend>New Trip</legend>
      <div class="control-group">
        <label class="control-label" name ="trip[duration]">Trip Duration</label>
        <div class="controls">
          <input type="text" placeholder="trip duration">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" name ="trip[start_date]">Start Date</label>
        <div class="controls">
          <input type="date" placeholder="start date">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" name ="trip[start_station]">Start Station</label>
        <div class="controls">
          <input type="text" placeholder="start station">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" name ="trip[end_date]">End Date</label>
        <div class="controls">
          <input type="date" placeholder="end date">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" name ="trip[end_station]">End Station</label>
        <div class="controls">
          <input type="text" placeholder="end station">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" name ="trip[bike_id]">Bike ID</label>
        <div class="controls">
          <input type="text" placeholder="bike id">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" name ="trip[subscription_type]">Subscription Type</label>
        <div class="controls">
          <input type="text" placeholder="subscription type">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" name ="trip[zip_code]">Zip Code</label>
        <div class="controls">
          <input type="text" placeholder="zip code">
        </div>
      </div>
      <br>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-info">Add New Trip</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
