<head>
  <link rel="stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/station/new.css">
</head>

<div class="transbox">
  <form class="form-horizontal">
    <fieldset>
      <legend>New Trip</legend>
      <div class="control-group">
        <label class="control-label">Trip Duration</label>
        <div class="controls">
          <input type="text" name ="trip[duration]" placeholder="trip duration">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Start Date</label>
        <div class="controls">
          <input type="date" name ="trip[start_date]" placeholder="start date">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Start Station</label>
        <div class="controls">
          <input type="text" name ="trip[start_station]" placeholder="start station">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">End Date</label>
        <div class="controls">
          <input type="date" name ="trip[end_date]" placeholder="end date">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">End Station</label>
        <div class="controls">
          <input type="text" name ="trip[end_station]" placeholder="end station">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Bike ID</label>
        <div class="controls">
          <input type="text" name ="trip[bike_id]" placeholder="bike id">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Subscription Type</label>
        <div class="controls">
          <input type="text" name ="trip[subscription_type]" placeholder="subscription type">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Zip Code</label>
        <div class="controls">
          <input type="text" name ="trip[zip_code]" placeholder="zip code">
        </div>
      </div>
      <br>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-info">Add New Trip</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
