@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  background-image: url("/images/bike2.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #333;
  padding: 80px 30% 80px 30%;
  font-family: "Indie Flower";

}

div + div, #body-content div:first-child {
  margin-top: 20px;
}

h5 {
  font-weight: 600;
}

#body-content {
  border-radius: 7px;
  padding: 20px;
  background-color: rgba(255,255,255,.7);
}

#create-btn {
  margin: 20px;
}

.info {
  color: white;
}
