@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body{
  background-image: url("/images/sf-bay.jpg");
  /* Photo by Changyu Hu on Unsplash */
  background-size: cover;
  background-attachment: fixed;
  font-family: "Indie Flower";
}

.jumbotron {
  text-align: center;
  margin: 0px 0px;
  padding: 20px;
}

.navbar {
    float:none;
    margin:0 auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-weight: 900;
}

.container {
  width: 100%;
}
