<html>
  <head>
    <link rel="stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid" style="background-color: #e3f2fd;">
      <div class="container">
        <h1 class="display-3">San Francisco Bikeshare</h1>
        <p class="lead">The Bay Area Bike Share enables quick, easy, and affordable bike trips around the San Francisco Bay Area. More information about the program can be found on the <a href="https://www.fordgobike.com/">Bay Area Bike Share Website</a>.</p>
        <p class="lead">This application synthesizes data from the Bay Area Bike Share, focus on bike stations, trips, and weather conditions. Click on one of the links below to get started!</p>
      </div>
    </div>

    <div class="nav-container">
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/stations">Stations</a>
        <a class="navbar-brand" href="/trips">Trips</a>
        <a class="navbar-brand" href="/conditions">Weather Conditions</a>
      </nav>
    </div>
  </body>
</html>
